page-confirmar-medicamento {

}

.btn-group{
    width: 110%;
    margin-left: -6%;
}

.button-bar .custom-width-bar{
        width: 128%;
    margin-left: -6%;
}

.button-btn{
    width: 50%;
    margin-right: -6px;
}